body{
  font-family: 'Muli', sans-serif;
  background-color: black;
}

main {
  max-width: 988px;
  margin: auto;
}
header{
  padding-left: 20px;
}
.col-md-6{
  padding-left: 0;
}
h3{
  font-size: 30px;
  padding-bottom: 20px;
  text-align: center;
}
img{
  width: 300px;
  margin-top: 20px;
}
.logo{
  width: 100px;
}
.row{
  padding-bottom: 20px;
  border-bottom: 2px solid grey;
}
.container{

  background-color: white;
}
